.cabal-sandbox
cabal.sandbox.config
idx/
dist/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
tests/test
tests/test-derive
tests/test-error
tests/test-fun
tests/test-funshow
tests/test-io
tests/test-most
tests/test-operators
tests/test-tiers
tests/test-types
bench/tiers
bench/tiers-colistable
bench/tiers-colistable.hs
bench/tiers-listsofpairs
bench/tiers-listsofpairs.hs
bench/tiers-funlistable
bench/tiers-funlistable.hs
eg/test-sort
eg/test-bool
eg/test-list
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
mk/toplibs
README.html
