.cabal-sandbox
cabal.sandbox.config
idx/
dist/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
tests/test
tests/test-io
tests/test-operators
tests/test-types
tests/test-utils
tests/test-most
tests/test-derive
tests/test-error
tests/test-fun
tests/test-funshow
