.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
TAGS
tags
test/main
test/derive
test/error
test/fun
test/funshow
test/generic
test/io
test/most
test/operators
test/tiers
test/types
test/stats
bench/tiers
bench/tiers-colistable
bench/tiers-colistable.hs
bench/tiers-listsofpairs
bench/tiers-listsofpairs.hs
bench/tiers-default
bench/tiers-default.hs
bench/tiers-funlistable
bench/tiers-funlistable.hs
bench/tiers-mixed
bench/tiers-mixed.hs
bench/tiers-4cases
bench/tiers-4cases.hs
eg/test-sort
eg/test-bool
eg/test-float
eg/test-list
eg/higher-order
eg/overflow
doc/**/*.html
doc/**/*.css
doc/**/*.js
doc/**/*.png
doc/**/*.gif
doc/**/*.json
mk/toplibs
README.html
